* {
    box-sizing: border-box;
}

*, *:before*, :after {
    box-sizing: inherit;
}
div {
    width: 100%;
    padding: 100px;
}

.one {
    background-color: olive;
}

.two {
    background-color:moccasin;
    
}

.three {
    background-color:brown ;
    
}